name: 05 - 1 - Event filters and activity types

on:
  pull_request:
    types:
      - opened
      - synchornized
    branches:
      - main

jobs:
   echo:
     runs-on: ubuntu-latest
     steps:
      - run: echo " Running whenever PR is opened or synchornized and base branch is main"
