name: 11 - Working with inputs

on:
  workflow_dispatch:
    inputs:
      dry-run:
        type: boolean
        description: skip deployment and print build output
        default: false
      target:
        type: envrionment
        required: true
        description: Which environment workflow will triggered
      tag:
        type: choice
        options:
          - v1
          - v2
          - v3
        default: v3

jobs:
    build:
      runs-on: ubuntu-latest
      steps:
          - name: build
            run: echo ' Building from ${{ inputs.tag }}'
    deploy:
      runs-on: ubuntu-latest
      if: ${{ !inputs.dry-run }}
      environment: ${{ inputs.target }}
      steps:
        - name: deploy
          run: echo ' Deployeing to ${{ inputs.target}}'
